.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('{% static "microsoft.jpg" %}') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url('{% static "load.gif" %}') no-repeat;
    cursor: wait;
 }